<template>
    <div>
        <button type="submit" @click="page()" class="btn btn-block btn-primary">Realizar pago</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            page(){
                window.location.href = "/validate/pay";
            }
        }
    }
</script>
