<template>

        <form @submit.prevent="completePayment" class="form-group">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Metodo de pago</label>
                <select class="form-control" @change="view($event)">
                    <option v-for="payment in payments" :key="payment.id">{{payment.description}}</option>
                </select>
            </div>
            <div v-if="card">
                <div class="form-group">
                    <label>Nombre del titular</label>
                    <input v-model="user" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" v-model="address" class="form-control">
                </div>
                <div class="form-group">
                    <label>Número tarjeta de credito</label>
                    <input type="number" v-model="cardNumber" class="form-control">
                </div>
                 <div class="form-group">
                    <label>Codigo de seguridad</label>
                    <input type="number" v-model="code" class="form-control">
                </div>
                <div class="form-group">
                    <label>Número de cuotas</label>
                    <input type="number" v-model="installments" class="form-control">
                </div>
                <div class="form-group">
                    <div class="row">
                    <label class="col-sm">Fecha de vencimiento</label>
                    <input type="number" v-model="month" placeholder="MES" class="form-control col-sm">
                    <input type="number" v-model="year" placeholder="AÑO" class="form-control col-sm">
                    </div>
                </div>
            </div>
            <div v-if="money">
            </div>
            <div v-if="transfer">
                <div class="form-group">
                    <label>Banco</label>
                    <select v-model="bank" class="form-control">
                        <option v-for="bank in banks" v-bind:value="bank.pseCode" :key="bank.id">{{bank.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Nombre del titular</label>
                    <input v-model="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tipo de cliente</label>
                    <select v-model="type" class="form-control">
                        <option value=""></option>
                        <option value="N">Persona natural</option>
                        <option value="J">Persona jurídica</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Documento de identificación</label>
                    <select v-model="identification" class="form-control">
                        <option v-for="identification in identifications" v-bind:value="identification.id" :key="identification.id">{{identification.name}}</option>
                    </select>
                    <input type="number" v-model="number" class="form-control">
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input v-model="phone" type="number" value="57 " class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Pagar</button>
        </form>

</template>

<script>
import Swal from 'sweetalert2'
    export default {
        props:['payments'],
        data(){
            return{
                card: false,
                money: false,
                transfer: false,
                identifications: [],
                banks: [],
                name: null,
                type: null,
                identification: null,
                phone: null,
                bank: null,
                payment: null,
                method: null,
                user: null,
                address: null,
                cardNumber: null,
                code: null,
                installments: null,
                year: null,
                month: null,

            }
        },
        methods:{
            view(event){
                this.method = event.target.value;
                let option = this.filterArray(this.method);
                if (this.method != "PSE") {
                    if (!option) {
                        this.payment = 'cash';
                        this.money = true;
                        this.card = false;
                        this.transfer = false;
                    } else {
                        this.payment = 'card';
                        this.card = true;
                        this.money = false;
                        this.transfer = false;
                    }
                } else {
                    this.payment = 'trans';
                    this.getBanks();
                    this.getIdentifications();
                    this.transfer = true;
                    this.money = false;
                    this.card = false;
                }

            },

            filterArray(method){
                let content = false;
                let card=[
                    'MASTERCARD',
                    'VISA',
                    'AMEX',
                    'DINERS',
                    'CODENSA'
                ];
                if (card.includes(method)) {
                    content = true;
                }
                return content;
            },

            getIdentifications(){
                this.identifications = [
                    {
                        'id': 'CC',
                        'name': 'Cédula de ciudadania'
                    },
                                        {
                        'id': 'CE',
                        'name': 'Cédula de extrangeria'
                    },
                                        {
                        'id': 'CEL',
                        'name': 'Número móvil'
                    },
                                        {
                        'id': 'DE',
                        'name': 'Documento de identificaión Extranjero  '
                    },
                                        {
                        'id': 'IDC',
                        'name': 'Identificador único del cleinte'
                    },
                                        {
                        'id': 'NIT',
                        'name': 'Número de identificacíon tributaria'
                    },
                                        {
                        'id': 'RC',
                        'name': 'Registro civil'
                    }
                ]
            },

            transferPayment(){
                let formData = new FormData();
                formData.append('bank', this.bank)
                formData.append('name', this.name)
                formData.append('type', this.type)
                formData.append('phone', this.phone)
                formData.append('number', this.number)
                formData.append('identification', this.identification)

                axios.post('/complete/payment/tranfer',formData)
                .then((res)=>{
                    let code = res.data.transactionResponse.orderId;
                    let link = res.data.transactionResponse.extraParameters.BANK_URL;
                    Swal.fire({
                    title: `Payment completed successfully`,
                    text: `# order: ${code}`,
                    type: 'success',
                    confirmButtonText: 'Cool'
                    }).then((res)=>{
                        window.open(link, '_blank');
                        location.reload();
                    })
                })
                .catch((error)=>{
                    console.log(error)
                    this.errors = error.response.data.errors;
                })
            },

            cashPayment(){
                let formData = new FormData();
                formData.append('method', this.method)

                axios.post('/complete/payment/cash',formData)
                .then((res)=>{
                    console.log(res);
                    // Swal.fire({
                    // title: `Payment completed successfully`,
                    // text: `# order: ${code}`,
                    // type: 'success',
                    // confirmButtonText: 'Cool'
                    // }).then((res)=>{
                    //     // window.open(link, '_blank');
                    //     // location.reload();
                    // })
                })
                .catch((error)=>{
                    console.log(error)
                    this.errors = error.response.data.errors;
                })
            },

            cardPayment(){
                let formData = new FormData();
                formData.append('method', this.method)
                formData.append('user', this.user)
                formData.append('address', this.address)
                formData.append('code', this.code)
                formData.append('cardNumber', this.cardNumber)
                formData.append('installments', this.installments)
                formData.append('month', this.month)
                formData.append('year', this.year)

                axios.post('/complete/payment/card',formData)
                .then((res)=>{
                    Swal.fire({
                    title: `Payment completed successfully`,
                    text: `# order: ${res.data.transactionResponse.orderId}`,
                    type: 'success',
                    confirmButtonText: 'Ok'
                    }).then((res)=>{
                        location.reload();
                    })
                })
                .catch((error)=>{
                    this.errors = error.response.data.errors;
                })
            },

            completePayment(){
                if (this.payment === 'trans') {
                    this.transferPayment();
                } if (this.payment === 'cash') {
                    console.log('cash');
                    this.cashPayment();
                } else {
                    this.cardPayment();
                }
            },

            loadMethodsPayment(){
                let NewArrayPayments = [];

                return this.payments.filter(function(current) {
                var exists = !hash[current.id];
                hash[current.id] = true;
                return exists;
                });
            },

            getBanks(){
            axios.get('/get/banks')
            .then((res)=>{
                console.log(res)
                if (res.status === 200) {
                    this.banks = res.data
                }
            })
            .catch((error)=>{
                console.log(error)
                this.errors = error.response.data.errors;
            })
            }
        },
        beforeMount(){
            console.log(this.loadMethodsPayment());
        }
    }
</script>
